In [2]:
# from stock_env.envs.single_stock_env import SingleStockEnv
import numpy as np
import pandas as pd
from stable_baselines3.common.env_checker import check_env
from stable_baselines3.dqn import DQN
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [9]:
price = pd.read_csv('stock_env/datasets/data/SIMULATE_STOCK.csv', index_col=0)
# env = SingleStockEnv(
#     df=df,
#     init_cash=5e4,
# )
# check_env(env)
price
# model = DQN.load("log/dqn_single_stock", env=env)

                price
2018-01-01  50.000000
2018-01-02  50.124891
2018-01-03  50.153262
2018-01-04  50.222724
2018-01-05  50.382129
...               ...
2031-09-05  45.423907
2031-09-06  45.417516
2031-09-07  45.465620
2031-09-08  45.525523
2031-09-09  45.540415

[5000 rows x 1 columns]

In [ ]:
done = False
obs = env.reset()
while not done:
    action, _ = model.predict(obs, deterministic=True)
    print(action)
    obs, _, done, _ = env.step(action)

data = pd.concat([df, pd.DataFrame(env.history)], axis=1, join='inner')

In [ ]:
data = pd.read_csv('history.csv', index_col=0)
data.head()

In [ ]:
returns = data['portfolio_value'].pct_change()
returns.index = pd.date_range("2018-01-01", periods=4999, freq="D").to_pydatetime()
returns = returns.dropna()

In [ ]:
import matplotlib.pyplot
simulator = OUSimulator(size=5000, seed=0)
price = simulator.simulate()
plt.plot