In [10]:
import os
from pathlib import Path
path = Path(os.getcwd())
os.chdir(path.parent.absolute())

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import pandas_ta as ta
import matplotlib.pyplot as plt
import mt4_hst
%matplotlib inline

# pd.options.display.max_rows = 9999

In [12]:
from stock_env.feature.feature_extractor import OneStockFeatures

In [13]:
ticker = 'FPT'
df = mt4_hst.read_hst("../stock_datasets/" + ticker + "1440.hst")
df.sort_values(by='time', inplace=True)

In [15]:
features = OneStockFeatures().preprocess(df)
features.head()

,close,ADX_14,SMA_10,RSI_14,CCI_14_0.015,BBL_5_2.0,BBU_5_2.0,MACD_12_26_9
33,25.202848,27.244761,23.262031,74.643164,153.627647,21.926752,25.383161,1.620369
34,25.599743,28.108655,23.639081,75.753119,166.128525,22.020349,26.321492,1.717492
35,24.607506,27.878356,23.912939,67.766704,109.471672,22.667903,26.308971,1.694860
36,25.004400,27.672102,24.119324,69.166974,96.690511,23.802747,25.967917,1.689475
37,23.774025,25.962208,24.115355,60.406317,23.063643,23.596342,26.079067,1.567852

In [23]:
cols = "time close".split()
df.loc[features.index, :][cols].iloc[0]

time     2007-01-30 00:00:00
close              25.202848
Name: 33, dtype: object