In [1]:
import yfinance
import pandas as pd
import pandas_ta as ta
import stock_env
from stock_env.feature.feature_extractor import TrendFeatures
from stock_env.data_loader import USStockLoader
from stable_baselines3.common.save_util import save_to_pkl
import gym
from stock_env.envs import *

In [2]:
sp500_ticker = pd.read_csv('../temp/constituents_csv.csv')
sp500_ticker = list(sp500_ticker['Symbol'])

In [3]:
data_loader = USStockLoader(
    tickers=sp500_ticker, 
    feature_extractor=TrendFeatures,
    max_episode_steps=500,
    data_period='30y'
)
data_loader.save('../stock_env/datasets/sp500_data_loader.pkl')

[*********************100%***********************]  498 of 498 completed

1 Failed download:
- ANTM: No data found, symbol may be delisted

In [2]:
sp500 = gym.make('SP500-v0')
_ = sp500.reset()
sp500.data_loader.stack_features.loc['AOS'].shape

(7508, 13)

In [11]:
finservice = gym.make('FinService-v0')
_ = finservice.reset()
finservice.data_loader.stack_ohlcv.loc['SSI']

           time       open       high        low      close      volume
49   2007-03-05  12.496574  12.827231  12.485172  12.684707    261600.0
50   2007-03-06  12.599192  12.770222  12.433863  12.485172    302400.0
51   2007-03-07  12.382554  12.713212  11.972083  12.086102    293000.0
52   2007-03-08  12.382554  13.619669  12.086102  12.428162    234500.0
53   2007-03-09  12.428162  12.821530  12.428162  12.428162    302400.0
...         ...        ...        ...        ...        ...         ...
3887 2022-08-10  24.549999  25.000000  24.450001  24.549999  14584500.0
3888 2022-08-11  24.850000  25.200001  23.799999  24.400000  28045800.0
3889 2022-08-12  24.350000  24.900000  24.049999  24.900000  17178600.0
3890 2022-08-15  25.150000  25.299999  24.600000  24.750000  14575600.0
3891 2022-08-16  24.750000  25.000000  24.450001  24.600000  11764700.0

[3843 rows x 6 columns]