# Test Vietnamese Stock Env

In [1]:
import os
from pathlib import Path
path = Path(os.getcwd())
os.chdir(path.parent.absolute())

# import warnings
# warnings.filterwarnings('ignore')
import pandas as pd
import pandas_ta as ta
import gym
import mt4_hst
from stable_baselines3.common.env_checker import check_env
from stock_env.feature.feature_extractor import *

path = "../stock_datasets/"

c:\Users\manbnm\Miniconda3\envs\tradingenv\lib\site-packages\pyfolio\pos.py:27: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; mutltipliers will not be applied' +

In [2]:
ticker = "FPT"
df = mt4_hst.read_hst(f"{path}/{ticker}1440.hst")

# Test VietnamStockEnv

In [ ]:
from stock_env.envs.vn_stock_env import VietnamStockEnv

env = VietnamStockEnv(
    df = df,
    feature_extractor = OneStockFeatures(),
    ticker=ticker)
check_env(env)

# play random
obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
history = env.get_history()

In [ ]:
cols = 'time open close delta_shares quantity portfolio_value nav cash delta_vt'.split()
history[cols].head()

# Test Vietnam Stock Continuous Env

In [ ]:
from stock_env.envs.vn_stock_env import VietnamStockContinuousEnv

ticker = "FPT"

env = VietnamStockContinuousEnv(
    df = df,
    feature_extractor = OneStockFeatures(),
    ticker=ticker)
check_env(env)

# play random
obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
history = env.get_history()

In [ ]:
cols = 'time open close actions delta_shares quantity portfolio_value nav cash delta_vt'.split()
history[cols].head()

# Test MultiStockEnv

In [ ]:
from stock_env.envs.multi_stock import MultiStockEnv

tickers = "FPT SSI VNM".split()
env = MultiStockEnv(
    tickers=tickers,
    feature_extractor=OneStockFeatures(),
    data_folder_path=path)
check_env(env)

obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
histories, ticker_history = env.get_history()
histories.head()

In [ ]:
cols = 'time close delta_shares quantity portfolio_value nav cash delta_vt step_reward'.split()
ticker_history['FPT'][cols].head()

In [ ]:
ticker_history['SSI'][cols].head()

# Test Random Stock Continuous Env

In [4]:
# Test Vietnam Stock Continuous Env
from stock_env.envs.random_stock import RandomStockEnv

env = RandomStockEnv(
    df = df,
    feature_extractor = OneStockFeatures(),
    ticker=ticker)
check_env(env)

# play random
obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
history = env.get_history()
history['percent_cash'] = history['cash'] / history['portfolio_value']
cols = 'time open close actions percent_cash delta_shares quantity portfolio_value nav cash'.split()
history[cols].head(10)

,time,open,close,actions,percent_cash,delta_shares,quantity,portfolio_value,nav,cash
0,2007-01-31,25.321917,25.599743,0.134219,0.237782,600,600,20151.502636,15359.845734,4791.656902
1,2007-02-01,25.599743,24.607506,0.444409,0.245020,0,600,19556.160381,14764.503479,4791.656902
2,2007-02-02,25.004400,25.004400,0.597788,0.242073,0,600,19794.297054,15002.640152,4791.656902
3,2007-02-05,24.607506,23.774025,0.473269,0.378765,-100,500,19134.498462,11887.012482,7247.485981
4,2007-02-06,23.774025,24.805954,0.555082,0.492267,-100,400,19542.515264,9922.381592,9620.133672
5,2007-02-07,24.805954,25.202848,0.922802,0.871199,-300,100,19567.321137,2520.284843,17047.036293
6,2007-02-08,23.972473,23.972473,0.221380,0.259816,500,600,19432.297371,14383.483887,5048.813485
7,2007-02-09,22.781788,22.781788,0.774196,0.391295,-100,500,18713.329850,11390.893936,7322.435914
8,2007-02-12,23.893095,23.893095,0.275014,0.380012,0,500,19268.983422,11946.547508,7322.435914
9,2007-02-13,24.607506,25.004400,0.600682,0.494350,-100,400,19780.025094,10001.760101,9778.264993

In [5]:
history[cols].head()

,time,open,close,actions,percent_cash,delta_shares,quantity,portfolio_value,nav,cash
0,2007-01-31,25.321917,25.599743,0.134219,0.237782,600,600,20151.502636,15359.845734,4791.656902
1,2007-02-01,25.599743,24.607506,0.444409,0.245020,0,600,19556.160381,14764.503479,4791.656902
2,2007-02-02,25.004400,25.004400,0.597788,0.242073,0,600,19794.297054,15002.640152,4791.656902
3,2007-02-05,24.607506,23.774025,0.473269,0.378765,-100,500,19134.498462,11887.012482,7247.485981
4,2007-02-06,23.774025,24.805954,0.555082,0.492267,-100,400,19542.515264,9922.381592,9620.133672