# Test Vietnamese Stock Env

In [1]:
import os
from pathlib import Path
path = Path(os.getcwd())
os.chdir(path.parent.absolute())

# import warnings
# warnings.filterwarnings('ignore')
import pandas as pd
import pandas_ta as ta
import gym
import mt4_hst
from stable_baselines3.common.env_checker import check_env
from stock_env.feature.feature_extractor import *

path = "../stock_datasets/"

c:\Users\manbnm\Miniconda3\envs\tradingenv\lib\site-packages\torch\utils\tensorboard\__init__.py:5: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  tensorboard.__version__
c:\Users\manbnm\Miniconda3\envs\tradingenv\lib\site-packages\pandas_datareader\compat\__init__.py:11: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  PANDAS_VERSION = LooseVersion(pd.__version__)
c:\Users\manbnm\Miniconda3\envs\tradingenv\lib\site-packages\pyfolio\pos.py:27: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; mutltipliers will not be applied' +
c:\Users\manbnm\Miniconda3\envs\tradingenv\lib\site-packages\seaborn\rcmod.py:82: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(mpl.__version__) >= "3.0":
c:\Users\manbnm\Miniconda3\envs\tradingenv\lib\site-packages\setuptools\_distutils\version.py:351: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  other = LooseVersion(other)

In [2]:
ticker = "FPT"
df = mt4_hst.read_hst(f"{path}/{ticker}1440.hst")

In [11]:
current_tick = 10
df.iloc[current_tick:current_tick-10:-1]

         time       open       high        low      close    volume
10 2006-12-27  18.217491  19.050972  18.217491  19.050972  413230.0
9  2006-12-26  17.384012  18.217491  16.550531  18.217491  300150.0
8  2006-12-25  17.384012  17.384012  17.384012  17.384012   22140.0
7  2006-12-22  18.296871  18.296871  18.296871  18.296871  143500.0
6  2006-12-21  19.884453  19.884453  19.249420  19.249420  156400.0
5  2006-12-20  20.241657  20.241657  20.241657  20.241657  220120.0
4  2006-12-19  19.289110  19.289110  19.289110  19.289110  137520.0
3  2006-12-18  18.376249  18.376249  18.376249  18.376249  215790.0
2  2006-12-15  17.503080  17.503080  17.503080  17.503080  265300.0
1  2006-12-14  16.669601  16.669601  16.669601  16.669601  280710.0

# Test VietnamStockEnv

In [2]:
from stock_env.envs.vn_stock_env import VietnamStockEnv

ticker = "FPT"

env = VietnamStockEnv(
    df = mt4_hst.read_hst(f"{path}/{ticker}1440.hst"),
    feature_extractor = OneStockFeatures(),
    ticker=ticker)
check_env(env)

# play random
obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
history = env.get_history()

In [3]:
cols = 'time close delta_shares quantity portfolio_value nav cash delta_vt'.split()
history[cols].head(10)

,time,close,delta_shares,quantity,portfolio_value,nav,cash,delta_vt
0,2007-01-31,25.599743,0,0,20000.000000,0.000000,20000.000000,0.000000
1,2007-02-01,24.607506,300,300,19694.648950,7382.251740,12312.397210,-305.351050
2,2007-02-02,25.004400,0,300,19813.717286,7501.320076,12312.397210,119.068336
3,2007-02-05,23.774025,200,500,19193.528761,11887.012482,7306.516280,-620.188525
4,2007-02-06,24.805954,300,800,20011.939767,19844.763184,167.176583,818.411005
5,2007-02-07,25.202848,-200,600,20240.154058,15121.709061,5118.444997,228.214291
6,2007-02-08,23.972473,-300,300,19855.919762,7191.741943,12664.177819,-384.234296
7,2007-02-09,22.781788,400,700,19012.851082,15947.251511,3065.599572,-843.068680
8,2007-02-12,23.893095,-300,400,19443.704867,9557.238007,9886.466861,430.853785
9,2007-02-13,25.004400,100,500,19996.968176,12502.200127,7494.768049,553.263309

# Test Vietnam Stock Continuous Env

In [4]:
from stock_env.envs.vn_stock_env import VietnamStockContinuousEnv

ticker = "FPT"

env = VietnamStockContinuousEnv(
    df = mt4_hst.read_hst(f"{path}/{ticker}1440.hst"),
    feature_extractor = OneStockFeatures(),
    ticker=ticker)
check_env(env)

# play random
obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
history = env.get_history()

In [5]:
cols = 'time close actions delta_shares quantity portfolio_value nav cash delta_vt'.split()
history[cols].head(10)

,time,close,actions,delta_shares,quantity,portfolio_value,nav,cash,delta_vt
0,2007-01-31,25.599743,0.543346,300,300,20111.507482,7679.922867,12431.584615,111.507482
1,2007-02-01,24.607506,0.279559,200,500,19610.268988,12303.752899,7306.516089,-501.238494
2,2007-02-02,25.004400,0.183154,100,600,19845.944910,15002.640152,4843.304758,235.675922
3,2007-02-05,23.774025,0.676001,-300,300,19461.829683,7132.207489,12329.622194,-384.115227
4,2007-02-06,24.805954,0.964771,-200,100,19555.512975,2480.595398,17074.917577,93.683292
5,2007-02-07,25.202848,0.618504,100,200,19632.411270,5040.569687,14591.841583,76.898296
6,2007-02-08,23.972473,0.634739,0,200,19386.336212,4794.494629,14591.841583,-246.075058
7,2007-02-09,22.781788,0.545365,100,300,19026.733383,6834.536362,12192.197022,-359.602829
8,2007-02-12,23.893095,0.433878,100,400,19468.978062,9557.238007,9911.740056,442.244679
9,2007-02-13,25.004400,0.941571,-200,200,19681.681872,5000.880051,14680.801821,212.703809

# Test MultiStockEnv

In [6]:
from stock_env.envs.multi_stock import MultiStockEnv

tickers = "FPT SSI VNM".split()
env = MultiStockEnv(
    tickers=tickers,
    feature_extractor=OneStockFeatures(),
    data_folder_path=path)
check_env(env)

obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
histories, ticker_history = env.get_history()
histories.head()

,total_portfolio_value,total_cash,total_nav,total_step_reward,time
0,20000.000000,20000.000000,0.000000,0.000000,2007-02-02
1,19780.247478,15527.165965,4253.081512,-219.752522,2007-02-05
2,20066.057956,13649.611270,6416.446686,285.810478,2007-02-06
3,20288.666977,9985.249867,10303.417110,222.609021,2007-02-07
4,19944.511173,13382.151554,6562.359619,-344.155804,2007-02-08

In [7]:
cols = 'time close delta_shares quantity portfolio_value nav cash delta_vt step_reward'.split()
ticker_history['FPT'][cols].head()

,time,close,delta_shares,quantity,portfolio_value,nav,cash,delta_vt,step_reward
0,2007-02-02,25.004400,0,0,6666.666667,0.000000,6666.666667,0.000000,0.000000
1,2007-02-05,23.774025,100,100,6541.128698,2377.402496,4163.726201,-125.537969,-125.537969
2,2007-02-06,24.805954,0,100,6644.321599,2480.595398,4163.726201,103.192902,103.192902
3,2007-02-07,25.202848,100,200,6721.219895,5040.569687,1680.650208,76.898296,76.898296
4,2007-02-08,23.972473,-100,100,6593.141796,2397.247314,4195.894482,-128.078099,-128.078099

In [8]:
ticker_history['SSI'][cols].head()

,time,close,delta_shares,quantity,portfolio_value,nav,cash,delta_vt,step_reward
0,2007-02-02,11.915072,0,0,6666.666667,0.00000,6666.666667,-0.000000,-0.000000
1,2007-02-05,11.829558,0,0,6666.666667,0.00000,6666.666667,-0.000000,-0.000000
2,2007-02-06,11.801053,0,0,6666.666667,0.00000,6666.666667,-0.000000,-0.000000
3,2007-02-07,11.630023,100,100,6648.383557,1163.00230,5485.381257,-18.283110,-18.283110
4,2007-02-08,11.088429,100,200,6538.901844,2217.68589,4321.215954,-109.481713,-109.481713

# Test multi stock continuous Env

In [9]:
from stock_env.envs.multi_stock import MultiStockContinuousEnv

tickers = "FPT SSI VNM".split()
env = MultiStockContinuousEnv(
    tickers=tickers,
    feature_extractor=OneStockFeatures(),
    data_folder_path=path)
check_env(env)

obs = env.reset(current_tick=0)
done = False
while not done:
    obs, _, done, _ = env.step(env.action_space.sample())
histories, ticker_history = env.get_history()